<div id="header" class="header">
    <div id="header-left" class="header-left">
        <span id="header-menu-btn" class="header-menu-btn btn-1"><span></span></span>
    </div>
    <div id="header-right" class="header-right">
        <div class="header-text">ホロとらっかー</div>
    </div>
</div>